html {
  box-sizing: border-box;
  font-family: "Recursive", serif;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero {
  background: white url("images/kindpng_1277032.png") no-repeat top center;
  background-size: cover;
  min-height: 100vh;
  min-width: 700px;
  background-color: white;
  /* background-image: radial-gradient(circle at top, white 30%, MistyRose); */
}

.container {
  display: grid;
  grid-template-columns: 5% 1fr 3fr 1fr 10%;
  grid-auto-rows: 10px 1fr 1fr 1fr 1fr 1fr 10px;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 100vh;
  }
  .container {
    display: grid !important;
    grid-template-columns: 10% 1fr 1fr 1fr 10% !important;
    grid-auto-rows: 5% 1fr 1fr 1fr 1fr 1fr !important;
  }

  .giftbox {
    height: 200px !important;
    width: 200px !important;
  }

  .gift {
    height: 200px !important;
    width: 200px !important;
  }

  #figure {
    grid-column: 2 / span 3 !important;
    grid-row: 1 / span 4 !important;
  }

  #option1 {
    display: none;
  }

  #option2 {
    grid-column: 2 / span 1 !important;
    grid-row: 5 / span 1 !important;
  }

  #option3 {
    grid-column: 3 / span 1 !important;
    grid-row: 5 / span 1 !important;
  }

  #option4 {
    grid-column: 4 / span 1 !important;
    grid-row: 5 / span 1 !important;

    left: unset !important;
  }

  #option5 {
    grid-column: 2 / span 1 !important;
    grid-row: 6 / span 1 !important;

    right: unset !important;
  }

  #option6 {
    grid-column: 3 / span 1 !important;
    grid-row: 6 / span 1 !important;
  }

  #option7 {
    grid-column: 4 / span 1 !important;
    grid-row: 6 / span 1 !important;
  }

  /* #option8 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
    position: relative;
    right: 50%;
  } */

  #hbd {
    grid-column: 2 / span 3 !important;
    grid-row: 3 / span 2 !important;
  }

  #startover {
    grid-column: 4 / span 2 !important;
    grid-row: 2 / span 1 !important;
    height: unset !important;
    width: unset !important;
    right: unset !important;
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.giftbox {
  height: 220px;
  width: 220px;
  opacity: 1;
  transition: ease-out 1s;
}

.option:hover .giftbox {
  animation-name: vibrate;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes vibrate {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.option.show .giftbox {
  opacity: 0;
}

.gift {
  height: 220px;
  width: 220px;
  position: absolute;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.option.show .gift {
  visibility: visible;
  animation-name: bounceIn;
  animation-duration: 1s;
  /* animation-delay: 1s; */
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#option1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  position: relative;
  left: 50%;
}

#option2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#option3 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#option4 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  position: relative;
  left: 50%;
}

#option5 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  position: relative;
  right: 50%;
}

#option6 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

#option7 {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

/* #option8 {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  position: relative;
  right: 50%;
} */

#hbd {
  grid-column: 3 / span 1;
  grid-row: 4 / span 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#startover {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  height: 220px;
  width: 220px;
  position: relative;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startover a {
  color: #2b2d42 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #2b2d42 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#startover:hover a {
  color: #ffbe0b !important;
  border-radius: 50px;
  border-color: #ffbe0b !important;
  transition: all 0.3s ease 0s;
}

#figure {
  grid-column: 3 / span 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#eyes {
  position: absolute;
  top: 0px;
  background-color: white;
}

#face {
  z-index: 1;
}

#hbd {
  grid-column: 3 / span 1;
  grid-row: 4 / span 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#hbd > img {
  height: 400px;
  z-index: 2;
}

#title {
  margin: 0;
  grid-column: 2 / span 3;
  grid-row: 2 / span 4;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  font-size: 150px;
  z-index: 2;
  align-self: end;
  color: yellow;
}

.modal {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal.open .modal__coupon {
  animation-name: bounceIn;
  animation-duration: 1.5s;
}

.modal.open .modal__coupon.img {
  width: 600px;
  border-radius: 20px;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.5);
}

.modal.open .modal__photos {
  display: none;
}

.modal.open-photos {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 3;
}

.modal.open-photos .modal__coupon {
  display: none;
}

.modal.open-photos .modal__photos > img {
  position: absolute;
  height: auto;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.modal.open-photos #photo1 {
  width: 30%;
  top: 5%;
  left: 15%;
}

.modal.open-photos #photo2 {
  width: 25%;
  right: 5%;
  top: -5%;

  animation-delay: 0.5s;
}

.modal.open-photos #photo3 {
  width: 30%;
  left: 8%;
  top: 10%;

  animation-delay: 1s;
}

.modal.open-photos #photo4 {
  width: 40%;
  left: 30%;
  top: 0;

  animation-delay: 1.5s;
}

.modal.open-photos #photo5 {
  width: 45%;
  left: 5%;
  bottom: -10%;

  animation-delay: 2s;
}

.modal.open-photos #photo6 {
  width: 20%;
  right: 20%;
  bottom: -5%;

  animation-delay: 2.5s;
}

.modal.open-photos #photo7 {
  width: 35%;
  right: 5%;
  bottom: 0px;

  animation-delay: 3s;
}
.modal.open-photos #photo8 {
  width: 40%;
  left: 30%;
  bottom: 0px;
  animation-delay: 3.5s;
}
